body,
html {
<<<<<<< HEAD
    background: rgb(42, 168, 38);
=======
    background-color: aqua;
>>>>>>> 5905211527199330f189886f747e28e950825418
    margin: 0px auto;
}

// first line
p {
    color: rgb(126, 18, 18);
}

// new comments will be detected
h2 {
    font-size: 50px;
    font-weight: 500;
<<<<<<< HEAD
    border: solid 5px #000;
=======
}

div {
    display: grid;
    text-align: center;
    color: #000;
>>>>>>> 5905211527199330f189886f747e28e950825418
}