body,
html {
    background: rgb(42, 168, 38);
    margin: 0px auto;
    font-size: 14px;
}

// first line
p {
    color: rgb(126, 18, 18);
}

// new comments will be detected
h2 {
    font-size: 50px;
    font-weight: 500;
    border: solid 5px #000;
}

span {
    color: #000;
    font-weight: 600;
}
